@media only screen and (max-width: 855px) {
  /* navigation */
  #nav {
    visibility: hidden;
  }

  .hireMeNav {
    visibility: hidden;
  }

  .logo {
    width: 40vw;
    margin-left: 5vw;
    min-width: 150px;
  }

  #navigation {
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
  }

  #mobileNavDiv {
    height: 100%;
  }

  .burger-wrapper {
    cursor: pointer;
  }

  #mobileNav {
    background: white;
    width: 100%;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10, 2, 3, 1);
    transform: translateY(-50rem);
    top: 72px;
    z-index: -1;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }

  /* Profil and Social Navigation */
  #profilMobile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
    gap: 16px;
  }

  #photoProfilMobile {
    background: linear-gradient(180deg, #ff6f47 0%, #ff9447 100%);
    display: flex;
    width: 132px;
    height: 132px;
    min-width: 132px;
    border-radius: 100px;
  }

  #photoProfilMobile img {
    width: 100%;
    border-radius: 100px;
  }

  #profilInfosMobile {
    display: flex;
    flex-direction: column;
  }

  #infosMobile {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
  }

  #infosMobile .email {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    text-wrap: wrap;
  }

  #infosMobile a {
    text-decoration: underline;
    text-decoration-color: black;
    text-underline-offset: 3.5px;
    text-wrap: wrap;
  }

  #infosMobile .localisation {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    margin-top: -15px;
  }

  #socialMobile {
    margin-top: -3px;
  }
  @media only screen and (max-width: 366px) {
    #socialMobile {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 10px;
    }
  }

  /* Links Navigations */
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav li {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 33%;
  }

  .nav li a {
    color: rgba(38, 38, 38, 1);
  }

  #mobileNavPaa {
    display: none;
  }

  #mobileNavPaa:checked ~ #mobileNav {
    transform: translateX(0rem);
  }

  #burger {
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  #burger > div {
    height: 2px;
    background-color: #000;
    transition: 0.5s;
    z-index: 999;
  }

  #mobileNavPaa:checked ~ #burger > div {
    background-color: black;
  }

  #mobileNavPaa:checked ~ #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }
  #mobileNavPaa:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
  }
  #mobileNavPaa:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }

  /* Main Page */
  #profil {
    background: none;
    width: auto;
    height: auto;
    border-radius: none;
    box-shadow: none;
    margin-top: -40px;
  }

  #photoProfil {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    display: flex;
  }

  .photo {
    width: 100%;
    object-fit: cover;
    border-radius: 42px;
  }

  #profilInfos {
    display: none;
  }

  #main {
    flex-direction: column;
  }

  /* Présentation section */
  #hireMeIndex {
    display: none;
  }

  /* Compteurs section */

  @media only screen and (max-width: 600px) {
    #compteurs1 {
      justify-content: space-around;
      flex: initial;
      width: 100%;
    }

    #compteurs2 {
      justify-content: space-around;
      flex: initial;
      width: 100%;
    }

    #compteurExperience {
      flex: initial;
    }

    #compteurProjects {
      flex: initial;
    }

    #compteurClients {
      flex: initial;
    }

    #compteurRedbull {
      flex: initial;
    }
  }

  /* projects section */
  #projects {
    flex-direction: column;
    align-items: flex-start;
  }

  .lastProject {
    max-width: 100%;
  }

  #projects a {
    width: 100%;
    text-decoration: none;
  }

  .buttonProjects {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttonProjects img {
    position: unset;
  }

  #lastProjects a {
    text-decoration: none;
  }

  /* expertise section */
  #expertiseLogos {
    justify-content: space-around;
    align-items: center;
  }

  /* HireMe Bottom */
  #hireMeBottom {
    border-radius: 44px;
    min-width: fit-content;
  }

  #hireMeBottomContent {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    border-radius: 25px;
    margin: 0;
    max-width: none;
  }

  #hireMeBottomContentAndButton {
    margin: 0;
  }
}
